In [1]:
from bs4 import BeautifulSoup
import urllib.request
import urllib.parse

url = 'http://data.kma.go.kr/apiData/getData?type=xml&dataCd=ASOS&dateCd=DAY&startDt=20100101&endDt=20121231&stnIds=108&schListCnt=730&pageIndex=1&apiKey=NlDRdaPBr4LsSM23exDYwkvsO%2BU0yju6h3gG7EwsjIyTrKEnnzK/aQfH3GDhm0z0'
#오픈API key를 받고
#활용신청(옵션: 참고자료) 신청해야 뜸

with urllib.request.urlopen(url) as response:
    xml = response.read()
    soup = BeautifulSoup(xml, 'xml')

In [13]:
import pandas as pd
for link in soup.find_all('TM'):
    print(link.text)
    if str(link.text) == '2010-01-05':
        break

2010-01-01
2010-01-02
2010-01-03
2010-01-04
2010-01-05

In [14]:
time=[] ; stn_id=[] ; min_ta=[] ; max_ta=[]

for link in soup.find_all('TM'):
     time.append(link.text)
        
for link in soup.find_all('STN_ID'):
     stn_id.append(link.text)
        
for link in soup.find_all('MIN_TA'):
     min_ta.append(link.text)
               
for link in soup.find_all('MAX_TA'):
     max_ta.append(link.text)

In [15]:
import pandas as pd

df = pd.DataFrame( {'시간' : time, '지점번호' : stn_id, '최저기온' : min_ta, '최고기온' : max_ta},
                  columns=['시간', '지점번호', '최저기온', '최고기온'])

df.head()

           시간 지점번호   최저기온  최고기온
0  2010-01-01  108  -12.7  -3.6
1  2010-01-02  108   -7.4   0.2
2  2010-01-03  108  -10.5  -3.2
3  2010-01-04  108     -8  -3.4
4  2010-01-05  108  -12.3    -7

In [14]:
type(df['시간'])

pandas.core.series.Series

In [17]:
df['시간'].head()

0    2010-01-01
1    2010-01-02
2    2010-01-03
3    2010-01-04
4    2010-01-05
Name: 시간, dtype: object

In [18]:
df['최저기온'].head()

0    -12.7
1     -7.4
2    -10.5
3       -8
4    -12.3
Name: 최저기온, dtype: object

In [21]:
df['최저기온'] = df['최저기온'].astype(float)

In [22]:
df['최고기온'] = df['최고기온'].astype(float)

In [23]:
df['최저기온'].head()

0   -12.7
1    -7.4
2   -10.5
3    -8.0
4   -12.3
Name: 최저기온, dtype: float64

In [24]:
df['최고기온'].head()

0   -3.6
1    0.2
2   -3.2
3   -3.4
4   -7.0
Name: 최고기온, dtype: float64

In [78]:
ta_2011 = [] ; ta_2012 = []
ta_year_min=[] ; ta_year_max=[]

for i in range(len(df.index)):
    if df['시간'][i] < '2011-01-01':
        ta_2011.append(float(df['최저기온'][i]))
    else:
        ta_2012.append(float(df['최고기온'][i]))


ta_year_min.append(min(ta_2011))
ta_year_min.append(min(ta_2012))

ta_year_max.append(max(ta_2011))
ta_year_max.append(max(ta_2012))

df_year = pd.DataFrame( {'년간 최저 기온' : ta_year_min, '년간 최고 기온' : ta_year_max},
                          columns=['년간 최저 기온', '년간 최고 기온'], index=['2011', '2012'])

df_year.head()

      년간 최저 기온  년간 최고 기온
2011     -15.3      26.3
2012     -10.7      34.1